
* {
  font-family: 'Helvetica Neue';
  font-weight: 100; /* light por defecto */
}

.font-media {
  font-weight: 500;
}

.font-pesada {
  font-weight: 800;
}

.consola{
  font-family: 'Consolas';
  font-weight: 400; /* normal */
}