


* {
  font-family: 'Helvetica Neue';
  font-weight: 100; /* light por defecto */
}

.font-media {
  font-weight: 500;
}

.font-pesada {
  font-weight: 800;
}

.consola{
  font-family: 'Consolas';
  font-weight: 400; /* normal */
}

@keyframes slide-up {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slide-up {
    animation: slide-up 1s ease-out forwards;
}