/* Declarar las fuentes con @font-face */
@font-face {
  font-family: 'Helvetica Neue';
  src: url('/HelveticaNeue-Light.woff2') format('woff2'),
       url('/HelveticaNeue-Light.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/HelveticaNeue-Regular.woff2') format('woff2'),
       url('/HelveticaNeue-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/HelveticaNeue-Medium.woff2') format('woff2'),
       url('/HelveticaNeue-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/HelveticaNeue-Bold.woff2') format('woff2'),
       url('/HelveticaNeue-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Consolas';
  src: url('/Consolas-Regular.woff2') format('woff2'),
       url('/Consolas-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Resto de tu CSS */
* {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300; /* light por defecto */
}

.font-ligera {
  font-weight: 100;
}

.font-media {
  font-weight: 500;
}

.font-pesada {
  font-weight: 800;
}

.consola {
  font-family: 'Consolas', monospace;
  font-weight: 400; /* normal */
}

.text-container {
  opacity: 0; /* Oculta el elemento inicialmente */
  transform: translateY(50px); /* Posición inicial para la animación */
}


.animate-slide-up {
  animation: slideUp 1s ease-in-out forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(70px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}